In [1]:
# Import standard packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns',100)

In [2]:
# Load data 
fpath =  "Data/ames-housing-dojo-for-ml.csv"
df = pd.read_csv(fpath)
df = df.set_index("PID")
# Define columns to use
columns_to_use = columns_to_use = ['SalePrice', 'Living Area Sqft', 'Lot Frontage', 'Bldg Type', 'Bedroom','Total Full Baths','MS Zoning','Street', 'Alley','Utilities']
df = df[columns_to_use]
df.head()

,SalePrice,Living Area Sqft,Lot Frontage,Bldg Type,Bedroom,Total Full Baths,MS Zoning,Street,Alley,Utilities
PID,,,,,,,,,,
907227090,119900.0,864.0,60.0,1Fam,3,1.0,RL,Pave,NaN,AllPub
527108010,320000.0,2462.0,134.0,1Fam,4,3.0,RL,Pave,NaN,AllPub
534275170,151500.0,958.0,NaN,1Fam,2,1.0,RL,Pave,NaN,AllPub
528104050,385000.0,2084.0,114.0,1Fam,2,3.0,RL,Pave,NaN,AllPub
533206070,193800.0,1565.0,32.0,TwnhsE,2,3.0,FV,Pave,Pave,AllPub

In [3]:
# Select columns to use
columns_to_use = ['SalePrice', 'Living Area Sqft', 'Lot Frontage', 'Bldg Type', 'Bedroom',
                      'Total Full Baths','MS Zoning','Street', 
                      'Alley','Utilities']
# Functionizing the load data from above for .py file
def load_data():
    fpath =  "Data/ames-housing-dojo-for-ml.csv"
    df = pd.read_csv(fpath)
    df = df.set_index("PID")
    df = df[columns_to_use]
    return df

In [4]:
# Verify the function works as expected
df = load_data()
df.head()

,SalePrice,Living Area Sqft,Lot Frontage,Bldg Type,Bedroom,Total Full Baths,MS Zoning,Street,Alley,Utilities
PID,,,,,,,,,,
907227090,119900.0,864.0,60.0,1Fam,3,1.0,RL,Pave,NaN,AllPub
527108010,320000.0,2462.0,134.0,1Fam,4,3.0,RL,Pave,NaN,AllPub
534275170,151500.0,958.0,NaN,1Fam,2,1.0,RL,Pave,NaN,AllPub
528104050,385000.0,2084.0,114.0,1Fam,2,3.0,RL,Pave,NaN,AllPub
533206070,193800.0,1565.0,32.0,TwnhsE,2,3.0,FV,Pave,Pave,AllPub

In [5]:
# Obtain summary statistics
df.describe().round(2)

       SalePrice  Living Area Sqft  Lot Frontage  Bedroom  Total Full Baths
count    2930.00           2930.00       2440.00  2930.00           2928.00
mean   180825.07           1499.69         69.22     2.85              2.00
std     79878.22            505.51         23.37     0.83              0.75
min     12789.00            334.00         21.00     0.00              0.00
25%    129500.00           1126.00         58.00     2.00              1.00
50%    160000.00           1442.00         68.00     3.00              2.00
75%    213500.00           1742.75         80.00     3.00              2.00
max    755000.00           5642.00        313.00     8.00              6.00